FrontendWebF/src/conf/xml-resources/web-service-references/WebServices/wsdl/localhost_8080/BackendWebF/WebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.webf/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.webf/" name="WebServices">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.webf/" schemaLocation="http://localhost:8080/BackendWebF/WebServices?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson"/>
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse"/>
</message>
<message name="getStudents">
<part name="parameters" element="tns:getStudents"/>
</message>
<message name="getStudentsResponse">
<part name="parameters" element="tns:getStudentsResponse"/>
</message>
<message name="getPersons">
<part name="parameters" element="tns:getPersons"/>
</message>
<message name="getPersonsResponse">
<part name="parameters" element="tns:getPersonsResponse"/>
</message>
<message name="createPerson">
<part name="parameters" element="tns:createPerson"/>
</message>
<message name="createPersonResponse">
<part name="parameters" element="tns:createPersonResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getAllMemberships">
<part name="parameters" element="tns:getAllMemberships"/>
</message>
<message name="getAllMembershipsResponse">
<part name="parameters" element="tns:getAllMembershipsResponse"/>
</message>
<message name="getAllCourses">
<part name="parameters" element="tns:getAllCourses"/>
</message>
<message name="getAllCoursesResponse">
<part name="parameters" element="tns:getAllCoursesResponse"/>
</message>
<message name="getPerson">
<part name="parameters" element="tns:getPerson"/>
</message>
<message name="getPersonResponse">
<part name="parameters" element="tns:getPersonResponse"/>
</message>
<message name="subtract">
<part name="parameters" element="tns:subtract"/>
</message>
<message name="subtractResponse">
<part name="parameters" element="tns:subtractResponse"/>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"/>
</message>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<portType name="WebServices">
<operation name="hello">
<input wsam:Action="http://webservice.webf/WebServices/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservice.webf/WebServices/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="deletePerson">
<input wsam:Action="http://webservice.webf/WebServices/deletePersonRequest" message="tns:deletePerson"/>
<output wsam:Action="http://webservice.webf/WebServices/deletePersonResponse" message="tns:deletePersonResponse"/>
</operation>
<operation name="getStudents">
<input wsam:Action="http://webservice.webf/WebServices/getStudentsRequest" message="tns:getStudents"/>
<output wsam:Action="http://webservice.webf/WebServices/getStudentsResponse" message="tns:getStudentsResponse"/>
</operation>
<operation name="getPersons">
<input wsam:Action="http://webservice.webf/WebServices/getPersonsRequest" message="tns:getPersons"/>
<output wsam:Action="http://webservice.webf/WebServices/getPersonsResponse" message="tns:getPersonsResponse"/>
</operation>
<operation name="createPerson">
<input wsam:Action="http://webservice.webf/WebServices/createPersonRequest" message="tns:createPerson"/>
<output wsam:Action="http://webservice.webf/WebServices/createPersonResponse" message="tns:createPersonResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://webservice.webf/WebServices/loginRequest" message="tns:login"/>
<output wsam:Action="http://webservice.webf/WebServices/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getAllMemberships">
<input wsam:Action="http://webservice.webf/WebServices/getAllMembershipsRequest" message="tns:getAllMemberships"/>
<output wsam:Action="http://webservice.webf/WebServices/getAllMembershipsResponse" message="tns:getAllMembershipsResponse"/>
</operation>
<operation name="getAllCourses">
<input wsam:Action="http://webservice.webf/WebServices/getAllCoursesRequest" message="tns:getAllCourses"/>
<output wsam:Action="http://webservice.webf/WebServices/getAllCoursesResponse" message="tns:getAllCoursesResponse"/>
</operation>
<operation name="getPerson">
<input wsam:Action="http://webservice.webf/WebServices/getPersonRequest" message="tns:getPerson"/>
<output wsam:Action="http://webservice.webf/WebServices/getPersonResponse" message="tns:getPersonResponse"/>
</operation>
<operation name="subtract">
<input wsam:Action="http://webservice.webf/WebServices/subtractRequest" message="tns:subtract"/>
<output wsam:Action="http://webservice.webf/WebServices/subtractResponse" message="tns:subtractResponse"/>
</operation>
<operation name="multiply">
<input wsam:Action="http://webservice.webf/WebServices/multiplyRequest" message="tns:multiply"/>
<output wsam:Action="http://webservice.webf/WebServices/multiplyResponse" message="tns:multiplyResponse"/>
</operation>
<operation name="add">
<input wsam:Action="http://webservice.webf/WebServices/addRequest" message="tns:add"/>
<output wsam:Action="http://webservice.webf/WebServices/addResponse" message="tns:addResponse"/>
</operation>
<operation name="divide">
<input wsam:Action="http://webservice.webf/WebServices/divideRequest" message="tns:divide"/>
<output wsam:Action="http://webservice.webf/WebServices/divideResponse" message="tns:divideResponse"/>
</operation>
</portType>
<binding name="WebServicesPortBinding" type="tns:WebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPersons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMemberships">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCourses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServices">
<port name="WebServicesPort" binding="tns:WebServicesPortBinding">
<soap:address location="http://localhost:8080/BackendWebF/WebServices"/>
</port>
</service>
</definitions>